body {
    background-image: url("fondoprofe.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#goToMainPage {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color:#8db4ad;
    background-color: #064c72;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #goToMainPage:hover {
    background-color: #ecae7d;
  }